
.nav-container {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav-container ul li {
    display: inline-flex;
    list-style: none;
    padding: 0.6rem;
  }
  .nav-container ul li a {
    font-weight: 800;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: black;
  }
  .nav-container ul li a:hover {
    color: coral;
  }

  